{% extends "layout.html" %}
{% block content %}
<div class="container border" style="padding: 0;">
    <div class="chart" id="bargraph">
        {% if show %}
        <img src="/compareAlgorithmPlot.png" />
        {% endif %}
    </div>

</div>
{% endblock content%}
{% block content2 %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
      <legend class="border-bottom mb-4">Compare Algorithms</legend>
      <label class="form-control-label">Number</label>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Random Seed</span>
        </div>
        {{ form.randomSeed(class="form-control form-control-sm", autocomplete="off")  }}
        {% for error in form.randomSeed.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
      <div class="form-row">      
        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Receiver</span>
                </div>
                {{ form.numberReceiver(class="form-control form-control-sm", id="receiverNumber", autocomplete="off")  }}
                {% for error in form.numberReceiver.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sender</span>
                </div>
                {{ form.numberSender(class="form-control form-control-sm",   id="senderNumber", autocomplete="off") }}
                {% for error in form.numberSender.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">Log10(Calculations)</span>
        </div>
        {{ form.calcs_inLog10(class="form-control form-control-sm",  id="calcs_inLog10", readonly=true) }}
        {% for error in form.calcs_inLog10.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <label class="form-control-label">Receiver Positions</label>
        <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Formation</span>
            </div>
            {{ form.formation(class="form-control form-control-sm", type="text")  }}
        </div>
        <div class="form-row">      
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">x</span>
                    </div>
                    {{ form.receiverX(class="form-control form-control-sm", autocomplete="off")  }}
                    {% for error in form.receiverX.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Y</span>
                    </div>
                    {{ form.receiverY(class="form-control form-control-sm", autocomplete="off") }}
                    {% for error in form.receiverY.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Z</span>
                    </div>
                    {{ form.receiverZ(class="form-control form-control-sm", autocomplete="off") }}
                    {% for error in form.receiverZ.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Radius</span>
            </div>
            {{ form.radius(class="form-control form-control-sm", autocomplete="off")  }}
            {% for error in form.radius.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        <label class="form-control-label">Parameters</label>
        <div class="form-group mt-1">
            <div class="form-row">      
                <div class="col">
                    <div class="form-check ml-2">
                        {{ form.isotropic(class="form-check-input")  }}
                        <label class="form-check-label" for="exampleCheck1">isotropic</label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Wavelength</span>
                        </div>
                        {{ form.wavelength(class="form-control form-control-sm", id="wavelenghtInput", autocomplete="off") }}
                    </div>
                </div>
            </div>

            <div class="form-row">      
                <div class="col">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Path loss</span>
                        </div>
                        {{ form.pathLoss(class="form-control form-control-sm", id="pathLossInput", autocomplete="off")  }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">b</span>
                        </div>
                        {{ form.bValue(class="form-control form-control-sm", id="bInput", autocomplete="off")  }}
                    </div>
                </div>
            </div>
            <label class="form-control-label">Plot Settings</label>
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Min signal value</span>
                </div>
                {{ form.minReceivedValue(class="form-control form-control-sm", autocomplete="off")  }}
                {% for error in form.radius.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-row">      
                <div class="col">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Plot Range</span>
                        </div>
                        {{ form.plotRange(class="form-control form-control-sm", id="pathLossInput", autocomplete="off")  }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Signal</span>
                        </div>
                        {{ form.signalType(class="form-control form-control-sm", type="text")  }}
                    </div>
                </div>
            </div>
            <div class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ignore receiver in origin radius</span>
                </div>
                {{ form.originRadius(class="form-control form-control-sm", autocomplete="off")  }}
                {% for error in form.originRadius.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>   
        </div>
        <div class="mt-1">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </fieldset>
</form>

<script>
    var receiverNumber = document.getElementById("receiverNumber");
    var senderNumber = document.getElementById("senderNumber");
    var calcs_inLog10 = document.getElementById("calcs_inLog10");
    calcs_inLog10.value = Math.log10(senderNumber.value * receiverNumber.value);

    senderNumber.oninput = function() {
        calcs_inLog10.value = Math.log10(senderNumber.value * receiverNumber.value);
    }

    receiverNumber.oninput = function() {
        calcs_inLog10.value = Math.log10(senderNumber.value * receiverNumber.value);
    }
</script>
{% endblock content2 %}